<ion-header>
  <ion-toolbar>
    <ion-title>Nueva Tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input label="¿Qué hay que hacer?" labelPlacement="floating" [(ngModel)]="taskTitle"></ion-input>
  </ion-item>

  <ion-item>
    <ion-select label="Categoría" labelPlacement="floating" [(ngModel)]="selectedCategoryId">
      <ion-select-option value="">Sin categoría</ion-select-option>
      @for (cat of categories; track cat.id) {
        <ion-select-option [value]="cat.id">{{ cat.name }}</ion-select-option>
      }
    </ion-select>
  </ion-item>

  <ion-button expand="block" (click)="confirm()" [disabled]="!taskTitle" class="ion-margin-top">
    Guardar Tarea
  </ion-button>
</ion-content>
