
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


@import '@ionic/angular/css/palettes/dark.system.css';


.glass-modal {
  --background: #0f172a;
  --border-radius: 5px;

  &::part(content) {
    border: 1px solid rgba(255, 255, 255, 0.08);

    backdrop-filter: blur(15px);

    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);

    background-clip: padding-box;
  }

  &.modal-sheet {
    --border-radius: 24px 24px 0 0;

    &::part(content) {
      border-bottom: none;
    }
  }
}

.popover-viewport {
  --background: rgba(15, 23, 42, 0.9);
  backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

:root {
  --ion-item-color: #f1f5f9;
  --ion-text-color: #f1f5f9;
}


// 2. FORZAR LAS LETRAS (Aquí es donde está el fallo)
.glass-popover {

  &::part(content) {
    background: #0f172a !important;
    border-radius: 14px;
    border: 1px solid rgba(255,255,255,0.08);
    backdrop-filter: blur(16px);
  }

  ion-list {
    background: transparent !important;
  }

  ion-item {
    --background: transparent !important;
    --color: #ffffff !important;
    color: #ffffff !important;
  }

  ion-radio-group {
    color: #ffffff !important;
  }

  ion-label {
    color: #ffffff !important;
    opacity: 1 !important;
  }

  ion-radio {
    --color: #818cf8;
    --color-checked: #818cf8;
  }
}

