<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Mis Tareas</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-item lines="none">
      <ion-label>Filtrar por:</ion-label>
      <ion-select [(ngModel)]="selectedCategory" (ionChange)="applyFilter()" interface="popover">
        <ion-select-option value="all">Todas</ion-select-option>
        @for (cat of categories; track cat.id) {
          <ion-select-option [value]="cat.id">{{ cat.name }}</ion-select-option>
        }
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
  @for (task of filteredTasks; track task.id) {
    <ion-item-sliding>
      <ion-item>
        <ion-checkbox slot="start" [(ngModel)]="task.completed" (ionChange)="saveTasks()"></ion-checkbox>
        <ion-label>
          <h2>{{ task.title }}</h2>
          @if (task.categoryId) {
            <ion-badge color="tertiary">{{ getCategoryName(task.categoryId) }}</ion-badge>
          }
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteTask(task.id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  } @empty {
    <div class="ion-padding ion-text-center">
      <p>No hay tareas.</p>
    </div>
  }

</ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/category-management" color="secondary">
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="openAddTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
